<h2><i class="fa fa-plus-square" aria-hidden="true"></i> Crear Concursos</h2>
<hr>
<div class="card">
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label>Nombre del concurso:</label>
                <input type="text" class="form-control" placeholder="">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="card db-cnts-banner-img">
                <!-- <img src="" alt="Imagen de ejemplo con tamaño solicitado"> -->
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Example file input</label>
                <input type="file" class="form-control-file">
            </div>

            <hr>

            <div class="start-end-date">
                <div class="input-group input-group-sm mb-3 float-left mr-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Empieza:</span>
                    </div>
                    <input type="date" datetime="MM-dd-yyyy" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3 float-left mr-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Termina:</span>
                    </div>
                    <input type="date" datetime="MM-dd-yyyy" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>

            <hr style="clear: both;">

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Guión del concuros</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Recomendaciones</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Url Del concurso:</label>
                <input type="text" class="form-control" placeholder="">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label>Premio del concuros:</label>
                <input type="text" class="form-control" placeholder="">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button class="btn btn-primary btn-sm btn-block mt-5">Crear Concuros</button>
        </form>
    </div>
</div>