header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}


/* MAIN CONTAINER STYLES */

#main-container {
    overflow: hidden;
}


/* FOOTER STYLES */

footer {
    height: 180px;
    background-color: #41494C;
}