<div class="sidebar">
    <nav>
        <ul>
            <li>
                <a href="">
                    <span><i class="fa fa-user"></i></span>
                    <span>Usuario</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span><i class="fa fa-user"></i></span>
                    <span>Usuario</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span><i class="fa fa-user"></i></span>
                    <span>Usuario</span>
                </a>
            </li>
        </ul>
    </nav>
</div>