<div class="sidebar">
    <div class="side-logo">
        <a routerLink="['/']" class="navbar-brand">
            <img src="./assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span>SuperVoices</span>
        </a>
    </div>
    <div class="user-info">
        <div class="user-image">
            <img src="../../../../assets/img/sidebar/default-user-img-man.png" alt="Imagen de hombre por default">
        </div>
        <h6 class="welcome-text">Bienvenido</h6>
        <h6 class="user-name">Andrés Riveiro Castañeda</h6>
    </div>
    <nav>
        <ul>
            <li [routerLink]="['/summary']" routerLinkActive="sidebar-li-active">
                <a>
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li [routerLink]="['/contest']" routerLinkActive="sidebar-li-active">
                <a>
                    <i aria-hidden="true" class="fa fa-clipboard"></i>
                    <span>Concursos</span>
                </a>
            </li>
            <li [routerLink]="['/voices']" routerLinkActive="sidebar-li-active">
                <a>
                    <i aria-hidden="true" class="fa fa-bullhorn"></i>
                    <span>Voices</span>
                </a>
            </li>
            <li [routerLink]="['/profile']" routerLinkActive="sidebar-li-active">
                <a>
                    <span><i class="fa fa-user"></i></span>
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="db-sidebar-logOut">
        <nav>
            <ul>
                <li (click)="userService.userLogOut()" class="btn-db-outline-white text-center">
                    <a>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span>LogOut</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>