<div class="sidebar">
    <div class="side-logo">
        <a routerLink="['/']">
            <h4>SuperVoices</h4>
        </a>
    </div>
    <div class="user-info">
        <div class="user-image">
            <img src="../../../../assets/img/sidebar/default-user-img-man.png" alt="Imagen de hombre por default">
        </div>
        <h6 class="welcome-text">Bienvenido</h6>
        <h6 class="user-name">Andrés Riveiro Castañeda</h6>
    </div>
    <nav>
        <ul>
            <li routerLink="" class="sidebar-li-active">
                <a>
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li routerLink="/dashboard/contest">
                <a>
                    <i aria-hidden="true" class="fa fa-clipboard"></i>
                    <span>Concursos</span>
                </a>
            </li>
            <li>
                <a routerLink="/voices">
                    <i aria-hidden="true" class="fa fa-bullhorn"></i>
                    <span>Voices</span>
                </a>
            </li>
            <li>
                <a routerLink="/profile">
                    <span><i class="fa fa-user"></i></span>
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </nav>
</div>