<nav class="navbar navbar-expand-lg  navbar-light pg-navbar">
    <span class="navbar-brand mb-0 h1 pb-0 pt-0">
        <a  routerLink="/home">
          <img src="./assets/img/logo.png" alt="Logo SuperVoice" width="36px">
          SuperVoice
        </a>
      </span>
    <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link active" href="#">¿Quiénes somos?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">¿Cómo funciona?</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="#">Concursos</a>
        </li>
        -->
        <li class="nav-item" style="padding-top: 7px; margin-left: 2px;">
          <button type="button" routerLink="/login" class="btn btn-outline-light btn-sm"><i class="fa fa-sign-in"></i> Login</button>
        </li>
      </ul>
    </div>
  </nav>
<!--
<nav class="navbar navbar-expand-lg pg-navbar">
    <span class="navbar-brand mb-0 h1 pb-0 pt-0">
      <a  routerLink="/home">
        <img src="./assets/img/logo.png" alt="Logo SuperVoice" width="36px">
        SuperVoice
      </a>
    </span>



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars text-white"></span>
    </button>


    <nav class="nav text-white collapse navbar-collapse">
        <a class="nav-link active" href="#">¿Quiénes somos?</a>
        <a class="nav-link" href="#">¿Cómo funciona?</a>
        <a class="nav-link" href="#">Concursos</a>
        <button type="button" routerLink="/login" class="btn btn-outline-light btn-sm"><i class="fa fa-sign-in"></i> Login</button>
    </nav>
</nav>
-->