<nav class="navbar pg-navbar">
    <span class="navbar-brand mb-0 h1 pb-0 pt-0">
      <a  routerLink="[ '/']">
        <img src="./assets/img/logo.png" alt="Logo SuperVoice" width="36px">
        SuperVoice
      </a>
    </span>
    <nav class="nav text-white">
        <a class="nav-link active" href="#">¿Quiénes somos?</a>
        <a class="nav-link" href="#">¿Cómo funciona?</a>
        <a class="nav-link" href="#">Concursos</a>
        <button type="button" routerLink="/login" class="btn btn-outline-light btn-sm"><i class="fa fa-sign-in"></i> Login</button>
    </nav>
</nav>