<div class="login-container">
    <div class="middle">
        <div class="wp-login-text-container text-center">
            <h1>SuperVoice</h1>
            <div class="wp-login-text">
                <h2>Registro</h2>
            </div>
        </div>
        <div class="row ml-0 mr-0">
            <div class="col-xs-12 col-sm-6 col-md-6 col-xl-6">
                <form action="javascript:void(0);" method="get">
                    <fieldset class="clearfix">
                        <p><span class="fa fa-user"></span><input type="text" Placeholder="Nombres" required></p>
                        <p><span class="fa fa-user"></span><input type="text" Placeholder="Apellidos" required></p>
                        <p><span class="fa fa-envelope"></span><input type="text" Placeholder="Correo" required></p>
                        <p><span class="fa fa-lock"></span><input type="password" Placeholder="Password" required></p>
                        <p><span class="fa fa-lock"></span><input type="password" Placeholder="Repetir password" required></p>
                        <div class="div-form-send">
                            <button type="submit" class="btn btn-outline-light">
                                <i class="fa fa-address-card-o" aria-hidden="true"></i> Crear cuenta
                            </button>
                        </div>
                    </fieldset>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-xl-6">
                <div class="logo text-center">
                    <img src="./assets/img/logo.png" alt="Logo SuperVoice" width="106px">
                    <span><h1>SuperVoice</h1></span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-12 mt-5 text-center text-white">
                <span><a routerLink="/home">Regresar al home</a></span>
            </div>
        </div>
    </div>
</div>