<div class="login-container">
  <div class="middle">
      <div class="logo text-center">
          <img src="./assets/img/logo.png" alt="Logo SuperVoice" width="106px">
          <div class="clearfix"></div>
      </div>
      <div class="wp-login-text-container text-center">
          <h1>SuperVoice</h1>
          <div class="wp-login-text" style="margin-top: -40px;">
            <h2>Oops! - Page not found!</h2>
          </div>
          <div><a routerLink="/home" style="color:#ffffff;">Return home</a></div>
      </div>
  </div>
</div>