<div (window:scroll)="scrollEvent($event)">
    <div class="ParallaxVideo">
        <video autoplay muted loop>
          <source src="./assets/video/home/home-video.mp4" type="video/mp4">
        </video>
        <h1>SuperVoice</h1>
        <h2>Encuentra al mejor locutor para tu proyecto</h2>
        <h2>Es fácil, rápido y moderno</h2>
        <div class="wp-btn-header">
            <div class="row m-0">
                <div class="col-4 text-right">
                    <button type="button" class="btn btn-outline-light"><i class="fa fa-volume-up" aria-hidden="true"></i> Ejemplos</button>
                </div>
                <div class="col-4 text-center">
                    <button type="button" class="btn btn-outline-light"><i class="fa fa-trophy" aria-hidden="true"></i> Crear concurso</button>
                </div>
                <div class="col-4 text-left">
                    <button type="button" class="btn btn-outline-light"><i class="fa fa-user-plus" aria-hidden="true"></i> Registrarse</button>
                </div>
            </div>
        </div>
    </div>

    <div class="wp-about">
        <div class="wp-p-abs">
            <h1>SuperVoice</h1>
        </div>
        <div class="wp-about-content">
            <h2>Acerca de SuperVoice</h2>
            <p class="mt-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper mollis dui ut pulvinar. Etiam non pellentesque leo. Mauris feugiat mattis ante convallis condimentum. Donec semper odio ut justo euismod, at pulvinar massa lacinia. Interdum et malesuada
                fames ac ante ipsum primis in faucibus. Nunc lorem dui, efficitur vel vestibulum eu, luctus nec nibh.
            </p>
            <p class="mb-5">
                Suspendisse viverra commodo enim, tristique bibendum dui pulvinar sed. Duis ornare arcu in diam auctor, non tincidunt metus facilisis. Quisque tincidunt, magna at mollis ornare, mauris tellus malesuada lorem, ac pulvinar orci quam quis nulla. Etiam venenatis
                gravida sapien a consequat. Nunc nec urna vitae turpis tincidunt dictum.
            </p>
        </div>
        <div class="text-center mt-4">
            <img src="./assets/img/logo.png" alt="Logo SuperVoice" width="234px">
        </div>
    </div>
    <!-- <div class="wave-separator"></div> -->
    <div class="wp-promises text-center">
        <h2>¿Porqué usar SuperVoices?</h2>
    </div>
</div>