<div (window:scroll)="scrollEvent($event)">
    <div class="ParallaxVideo">
        <video autoplay muted loop>
          <source src="./assets/video/home/home-video.mp4" type="video/mp4">
        </video>
        <h1>SuperVoice</h1>
        <h2>Encuentra al mejor locutor para tu proyecto</h2>
        <h2>Es fácil, rápido y moderno</h2>
        <div class="wp-btn-header">
            <div class="row m-0">
                <div class="col-4 text-right">
                    <button type="button" class="btn btn-outline-light"><i class="fa fa-volume-up" aria-hidden="true"></i> Ejemplos</button>
                </div>
                <div class="col-4 text-center">
                    <button type="button" class="btn btn-outline-light"><i class="fa fa-trophy" aria-hidden="true"></i> Crear concurso</button>
                </div>
                <div class="col-4 text-left">
                    <button type="button" class="btn btn-outline-light"><i class="fa fa-user-plus" aria-hidden="true"></i> Registrarse</button>
                </div>
            </div>
        </div>
    </div>

    <div class="wp-about">
        <div class="wp-p-abs">
            <h1>SuperVoice</h1>
        </div>
        <div class="wp-about-content">
            <h2>Acerca de SuperVoice</h2>
            <div class="row mt-60">
                <div class="col-4">
                    <div class="card text-center">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis vel urna rutrum rhoncus. Proin sed justo et purus condimentum porttitor. Fusce metus
                                risus, malesuada sed venenatis sed, placerat ac mi. <br> <br> Curabitur iaculis tortor sem. Nam sed erat magna. Mauris id lectus nec enim euismod tempus non ac urna</p>
                            <hr>
                            <div class="info-icon text-danger">
                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content. Curabitur iaculis tortor sem. Nam sed erat magna. Mauris id lectus nec enim euismod tempus non ac urna <br> <br> Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Aenean mollis vel urna rutrum rhoncus. Proin sed justo et purus condimentum porttitor. Fusce metus risus, malesuada sed venenatis sed, placerat ac mi.</p>
                            <hr>
                            <div class="info-icon text-danger">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis vel urna rutrum rhoncus. Proin sed justo et purus condimentum porttitor. <br> <br>                                Fusce metus risus, malesuada sed venenatis sed, placerat ac mi. Curabitur iaculis tortor sem. Nam sed erat magna. Mauris id lectus nec enim euismod tempus non ac urna</p>
                            <hr>
                            <div class="info-icon text-danger">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wave-container">
        <div class="text-center mt-0 wave-separator"></div>
        <img src="./assets/img/logo.png" alt="Logo SuperVoice" width="234px">
    </div>

    <div class="wp-promises text-center">
        <div class="wp-p-abs">
            <h1>SuperVoice</h1>
        </div>
        <div class="wp-about-content">
            <h2>¿Porqué usar SuperVoices?</h2>
            <div class="row mt-100">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <div class="info-icon text-danger">
                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <div class="info-icon text-danger">
                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <div class="info-icon text-danger">
                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wp-voice-demos">
        <div class="paralax-voice-demos"></div>
        <div class="wp-demos-content">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="info-icon text-danger">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="paralax-voice-demos"></div>
    </div>
</div>