<div (window:scroll)="scrollEvent($event)">
    <div class="ParallaxVideo">
        <video #homeVideoHeader autoplay muted loop>
          <source src="./assets/video/home/home-video.mp4" type="video/mp4">
        </video>
        <h1 class="d-none d-sm-block d-md-none d-lg-block">SuperVoice</h1>
        <h2>Encuentra al mejor locutor para tu proyecto</h2>
        <h2>Es fácil, rápido y moderno</h2>
        <div class="wp-btn-header">
            <div class="row m-0">
                <div class="d-none d-sm-block col-sm-4 col-md-4 col-xl-4 hidden-xs-down text-right">
                    <button (click)="scroll(target)" type="button" class="btn btn-outline-light"><i class="fa fa-volume-up" aria-hidden="true"></i> Ejemplos</button>
                </div>
                <div class="d-none d-sm-block col-sm-4 col-md-4 col-xl-4 hidden-xs-down text-center">
                    <button [routerLink]="['/contest']" type="button" class="btn btn-outline-light"><i class="fa fa-trophy" aria-hidden="true"></i> Crear concurso</button>
                </div>
                <div class="d-none d-sm-block col-sm-4 col-md-4 col-xl-4 hidden-xs-down text-left">
                    <button [routerLink]="['/register']" type="button" class="btn btn-outline-light"><i class="fa fa-user-plus" aria-hidden="true"></i> Registrarse</button>
                </div>
            </div>
        </div>
    </div>

    <div class="wp-about">
        <div class="wp-p-abs">
            <h1>SuperVoice</h1>
        </div>
        <div class="wp-about-content">
            <h2>Acerca de SuperVoice</h2>
            <div class="row mt-60">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
                    <div class="card text-center">
                        <div class="card-header">
                            <b>¿Quiénes Somos?</b>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text text-left">Hola superVocies es una aplicación que te permite crear proyectos de locución para que puedas encontrar la mejor voz para tu proyecto. Dentro de esta puedes crear concursos (Proyectos), donde al ser creados esta automáticamente
                                publicará una página web con el nombre del concurso y te permitirá compartir está a través del correo a personas que conozcas y al publico en genera. De esta manera con tu pagina online cualquier persona puede subir su
                                locución para participar en el concurso. </p>
                            <hr>
                            <div class="info-icon text-danger">
                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
                    <div class="card text-center">
                        <div class="card-header">
                            <b>Crear concurso</b>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text text-left">Para empezar, solo debes registrarte, crear un concurso, publicar tu página web y enviar las invitaciones a tus amigos locutores. No esperes más, ingresa al sistema y crea tu cuenta. <br><br> Recuerda generar un guion y unas
                                recomendaciones para que tu concurso sea entendible al público. Estos campos los puedes llenar al momento de crear el concurso. <br><br><br></p>
                            <hr>
                            <div class="info-icon text-danger">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
                    <div class="card text-center">
                        <div class="card-header">
                            <b>Locutor</b>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text text-left">Si quieres participar en un concurso, solo debes ingresar a la página del concurso, de esta forma dentro de la página podrás encontrar toda la información que la empresa creadora del concurso puso a disposición para que puedas
                                realizar tu loción de la mejor forma posible. <br><br> De igual forma en está encontrarás un formulario que te permite llenar los datos requeridos para que puedas participar. Solo debes tener tu voz lista para subirla en
                                el formulario.</p>
                            <hr>
                            <div class="info-icon text-danger">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wave-container">
        <div class="text-center mt-0 wave-separator"></div>
        <img src="./assets/img/logo.png" alt="Logo SuperVoice" width="234px">
    </div>

    <div class="wp-promises text-center">
        <div class="wp-p-abs">
            <h1>SuperVoice</h1>
        </div>
        <div class="wp-about-content">
            <h2>¿Porqué usar SuperVoices?</h2>
            <div class="row mt-100">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Fácil de crear</h5>
                            <p class="card-text">Con solo el registro ya puedes crear concursos para tu proyecto.</p>
                            <div class="info-icon text-danger">
                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Fácil de participar</h5>
                            <p class="card-text">Solo debes llenar un formulario de 4 registros y subir tu voz.</p>
                            <div class="info-icon text-danger">
                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Fácil de ganar</h5>
                            <p class="card-text">Envía todos tus trabajos si no estas conforme con el que enviaste.</p>
                            <div class="info-icon text-danger">
                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wp-voice-demos">
        <div class="paralax-voice-demos"></div>
        <div class="wp-demos-content">
            <h1>Ejemplos de nuestras super voces</h1>
            <div class="row ml-0 mr-0">
                <div class="col-sm-2 col-md-12 col-lg-6 col-xl-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-bullhorn" aria-hidden="true"></i> Yo participando</h5>
                            <hr>
                            <audio controls>
                                <source src="http://ec2-3-83-140-153.compute-1.amazonaws.com:3002/uploads/Answer-02.wav" type="audio/wav">
                                Your browser does not support the audio element.
                            </audio>
                            <hr>
                            <h6 class="card-title">superVoces 1</h6>
                            <p class="card-text">Ejemplo de voces del concurso</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-12 col-lg-6 col-xl-6 mb-3" #target>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-bullhorn" aria-hidden="true"></i> Sí, tu pariticpano</h5>
                            <hr>
                            <audio controls>
                                <source src="http://ec2-3-83-140-153.compute-1.amazonaws.com:3002/uploads/Answer-07.wav" type="audio/wav">
                                Your browser does not support the audio element.
                            </audio>
                            <hr>
                            <h6 class="card-title">superVoices 2</h6>
                            <p class="card-text">Ejemplo de voces del concurso.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="see-more">
                <a href=""><i class="fa fa-volume-up" aria-hidden="true"></i> Ver más super voces...</a>
            </div>
        </div>
    </div>

    <div class="how-paticipate text-center">
        <div class="wp-p-abs">
            <h1>SuperVoice</h1>
        </div>
        <div class="wp-about-content">
            <h2>¿Cómo participo en un concurso?</h2>
            <div class="row mt-60">
                <div class="col-sm-12 col-md-12 col-lg-4 col.xl.4 mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Primero</h5>
                            <p class="card-text">Si no has recibido una participación para el concurso, debes buscar el concurso al que quieras participar y leer cuidadosamente las condiciones de estas. Esto lo puedes encontrar en las recomendaciones del concurso.</p>
                            <hr>
                            <div class="info-icon text-danger">
                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col.xl.4 mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Segundo</h5>
                            <p class="card-text">
                                Prepara tu locución, analízala con las recomendaciones del concurso y una vez confirmado ingresa a la página del concurso y llena el formulario para que tu voz quede guardada en el registro del concurso.
                            </p>
                            <hr>
                            <div class="info-icon text-danger">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col.xl.4 mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Tercero</h5>
                            <p class="card-text">
                                Ahora solo debes esperar a que finalice el concurso y comuniquen la superVoice ganadora. Recuerda siempre estar revisando la página del concurso para que puedas comparar tu locución con los demás participantes.
                            </p>
                            <hr>
                            <div class="info-icon text-danger">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>