<h2><i class="fa fa-clipboard" aria-hidden="true"></i> Concursos</h2>
<hr>
<div class="text-right">
    <button class="btn btn-primary btn-sm mr-2"><i class="fa fa-plus-square" aria-hidden="true"></i> Crear concurso</button>
    <button class="btn btn-success btn-sm mr-2"> <i class="fa fa-minus-square" aria-hidden="true"></i> Editar concurso</button>
    <button class="btn btn-danger btn-sm"><i class="fa fa-pencil-square" aria-hidden="true"></i> Eliminar concurso</button>
</div>
<div class=" contest-list-container mt-3">
    <div class="card">
        <div class="row ml-0 mr-0">
            <div class="col-1">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input">
                </div>
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col-8">
                        <h4>Nombre del concurso</h4>
                    </div>
                    <div class="col-4 text-right">
                        Total-voces: <span class="db-voices-total">120</span>
                    </div>
                    <hr>
                    <div class="col-12">
                        <div class="card" style="width: 18rem;">
                            <img src="" class="card-img-top" alt="...">
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <span class="db-cnts-start"><b>Empieza:</b> 01-02-2019 </span>
                        <span> | </span>
                        <span class="db-cnts-end"><b>Termina:</b> 15-02-2019</span>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-body">
                                <i class="fa fa-file-text" aria-hidden="true"></i> Guión: <br><br>
                                <p>With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis vel urna rutrum rhoncus. Proin sed justo et purus condimentum porttitor. Fusce
                                    metus risus, malesuada sed venenatis sed, placerat ac mi. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <button class="bt btn-primary btn-sm btn-block btn-show-cnts-voices">Ver voces del concurso</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>